# Project files
*.komodoproject
.idea/
.metadata/
.project
.settings/

# Code build files
Vendors
composer.phar
bash/

# Code documentation
docs/doxygen/
docs/phpdoc/

# Backup files
*.bak
*.log
*.*~
*~