<phpunit bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        timeoutForSmallTests="10"
        timeoutForMediumTests="60"
        timeoutForLargeTests="120"        
        stopOnFailure="false">

    <filter>
        <blacklist>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="lib">
            <file>TestTuneManagementClient.php</file>
            <file>TestAdvertiserReportClicks.php</file>
            <file>TestAdvertiserReportEventItems.php</file>
            <file>TestAdvertiserReportEvents.php</file>
            <file>TestAdvertiserReportInstalls.php</file>
            <file>TestAdvertiserReportPostbacks.php</file>
            <file>TestAdvertiserReportActuals.php</file>
            <file>TestAdvertiserReportRetention.php</file>
            <file>TestAdvertiserReportValue.php</file>
        </testsuite>
    </testsuites>
</phpunit>
