<phpunit bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        timeoutForSmallTests="10"
        timeoutForMediumTests="60"
        timeoutForLargeTests="120"
        stopOnFailure="false">

    <filter>
        <blacklist>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="lib">
            <file>TestTuneManagementClient.php</file>
            <file>TestAdvertiserReportLogClicks.php</file>
            <file>TestAdvertiserReportLogEventItems.php</file>
            <file>TestAdvertiserReportLogEvents.php</file>
            <file>TestAdvertiserReportLogInstalls.php</file>
            <file>TestAdvertiserReportLogPostbacks.php</file>
            <file>TestAdvertiserReportActuals.php</file>
            <file>TestAdvertiserReportCohortRetention.php</file>
            <file>TestAdvertiserReportCohortValue.php</file>
        </testsuite>
    </testsuites>
</phpunit>
