;
; tune_reporting_sdk.config, TUNE Reporting SDK configuration.
;
; Copyright (c) 2014 TUNE, Inc
; All rights reserved.
;
; Permission is hereby granted, free of charge, to any person obtaining a copy
; of this software and associated documentation files (the "Software"), to deal
; in the Software without restriction, including without limitation the rights
; to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
; copies of the Software, and to permit persons to whom the Software is
; furnished to do so, subject to the following conditions:
;
; The above copyright notice and this permission notice shall be included in
; all copies or substantial portions of the Software.
;
; THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
; IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
; FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
; AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
; LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
; OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
; THE SOFTWARE.
;
; PHP Version 5.3
;
; @category  tune-reporting-php
;
; @author    Jeff Tanner <jefft@tune.com>
; @copyright 2014 TUNE, Inc. (http://www.tune.com)
; @license   http://opensource.org/licenses/MIT The MIT License (MIT)
; @version   $Date: 2015-01-03 08:14:06 $
; @link      https://developers.mobileapptracking.com/tune-reporting-sdks @endlink
;
;
[TUNE_REPORTING]
; TUNE MobileAppTracking Platform generated API Key. Replace API_KEY.
tune_reporting_api_key_string=API_KEY
; Validate use TUNE Management API fields used within action parameters.
tune_reporting_validate_fields_boolean=false
; TUNE reporting export status sleep (seconds).
tune_reporting_export_status_sleep_seconds=10
; TUNE reporting export fetch timeout (seconds).
tune_reporting_export_status_timeout_seconds=240
; Verbose output for debugging purposes when fetching report download url.
tune_reporting_export_status_verbose_boolean=false
