<phpunit bootstrap="bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        stopOnFailure="false">

    <filter>
        <blacklist>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="lib">
            <file>Tune/Unittests/Management/Service/UnittestClient.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestClicks.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestEventItems.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestEvents.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestInstalls.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestPostbacks.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/Logs/UnittestUpdates.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/UnittestActuals.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/UnittestCohort.php</file>
            <file>Tune/Unittests/Management/Api/Advertiser/Reports/UnittestRetention.php</file>
        </testsuite>
    </testsuites>
</phpunit>
